In [ ]:
import pandas as pd
student_data = [
    [1, 15],
    [2, 11],
    [3, 11],
    [4, 20]
]

student_id = []
age = []
for element in student_data:
    student_id.append(element[0])
    age.append(element[1])


dict = {'student_id':student_id,'age':age}
pd.DataFrame(dict)

In [2]:
import pandas as pd
student_data = [
    [1, 15],
    [None, 11],
    [2, None],
    [4, 20]
]

test = pd.DataFrame(student_data,columns=['student_data','age'])

In [5]:
test.rename(columns={'student_data':'.'},)

     .   age
0  1.0  15.0
1  NaN  11.0
2  2.0   NaN
3  4.0  20.0

In [89]:
import re



texto = "Mi correo es usuario123@dominio.com"
patron = r"(\w+)(\d{3})@(\w+)\.(\w+)"
match = re.search(patron, texto)

print(match.group(0))
print(match.group(1))
print(match.group(2))
print(match.group(3))

usuario123@dominio.com
usuario
123
dominio

In [115]:
texto = "hola mudno"
patron = r"h(?=ola)"
match = re.search(patron, texto)

if match:
    print(1)
else:
    print(9)

1