In [ ]:
import pandas as pd
student_data = [
    [1, 15],
    [2, 11],
    [3, 11],
    [4, 20]
]

student_id = []
age = []
for element in student_data:
    student_id.append(element[0])
    age.append(element[1])


dict = {'student_id':student_id,'age':age}
pd.DataFrame(dict)

In [2]:
import pandas as pd
student_data = [
    [1, 15],
    [None, 11],
    [2, None],
    [4, 20]
]

test = pd.DataFrame(student_data,columns=['student_data','age'])

In [5]:
test.rename(columns={'student_data':'.'},)

     .   age
0  1.0  15.0
1  NaN  11.0
2  2.0   NaN
3  4.0  20.0